body {
  background: pink
}

.cat {
  margin: -20px;
}

button {
  position: absolute;
  bottom: 50px;
  left: 100px;
  height: 50px;
  width: 100px;
  background: turquoise;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.inc {
  left: 200px;
  background: hotpink;
}

.counter {
  height: 70vh;
  margin: 0;
  overflow: scroll;
}
